In [1]:
import pandas as pd
import os
import requests as requests
import foursquare
import json

In [2]:
client = foursquare.Foursquare(client_id='Z4QNCQY2YKUF4DJEH3OSNOGQ00YHXEFFMKPMEKCHN5I1OVVH',
                               client_secret='1MKV4DYU3QW2FIL4AEFN0TYAH45NFOSQLO5IHZ4VIYRCRY20',
                               redirect_uri='http://fondu.com/oauth/authorize')

# Foursquare

##### Send a request to Foursquare with a small radius (1000m) with the location of your choice

In [3]:
url = "https://api.foursquare.com/v3/places/search?ll=45.5019%2C%20-73.5674&radius=1000"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3GF0gg15lmXyXLyyyyLRnlTAGzEp5YdQ2/NSHBSTfHng="
}

response = requests.get(url, headers=headers) # Get url call using Foursquare API
Montreal = json.loads(response.text) # Convert request into json dictionary

##### Parse through the response to get the POI details you want (rating, name, location, etc)

In [ ]:
url = "https://api.foursquare.com/v3/places/search?radius=1000&categories=13002&fields=name&limit=50"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3GF0gg15lmXyXLyyyyLRnlTAGzEp5YdQ2/NSHBSTfHng="
}

response = requests.get(url, headers=headers) # Get url call using Foursquare API
bars = json.loads(response.text) # Convert request into json dictionary
close_bars = bars['results'] # Filter and parse dictionary
close_bars

##### Put your parsed results into a DataFrame

In [5]:
df_bars_FS = pd.DataFrame(close_bars) # Convert dictionary into a dataframe
df_bars_FS.rename(columns={'name': 'Bars'}).head()

                      Bars
0            Fous Desserts
1  St-Viateur Bagel & Cafe
2      Patisserie Rhubarbe
3          Au Kouign-Amann
4               Fromentier

# Yelp

##### Send a request with the same location paramaters (location, radius, etc)

In [6]:
url = "https://api.yelp.com/v3/businesses/search?radius=3000&categories=bars&limit=50&location=MTL&fields=name"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer W8H_x2Q-W_D4uL3N854Um8x046alVK_qcdzZ9hgIVs2uRoYav7l3WP7pqt3cr_PklnUDc5Nny035AQizcYJqpy-lTCVSG_talQKJfwSNASATg9OjLPDnFcBI2bM1Y3Yx"
}

response = requests.get(url, headers=headers) # Get url call using Foursquare API
bars_y = json.loads(response.text) # Convert request into json dictionary

In [ ]:
y_bars = bars_y['businesses']
yelp_bars = [i ['name'] for i in y_bars] # Create a for loop to filter and parse list
yelp_bars

In [8]:
df_yelp_bars = pd.DataFrame(yelp_bars) # Create a database
df_yelp_bars.rename(columns={0:'Bars'}, inplace=True)
df_yelp_bars.head()

                  Bars
0      Les Deux Gamins
1        Le Majestique
2  La Distillerie No.1
3        Cloakroom Bar
4         Ichigo Ichie

# Foursquare Ratings

In [11]:
url = url = "https://api.foursquare.com/v3/places/search?radius=3000&categories=13002&fields=name%2Crating&limit=50"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3GF0gg15lmXyXLyyyyLRnlTAGzEp5YdQ2/NSHBSTfHng="
}

response = requests.get(url, headers=headers)
ratings = json.loads(response.text)

In [22]:
foursquare_ratings = ratings['results']
FS_ratings_df = pd.DataFrame(foursquare_ratings)
FS_ratings_df.sort_values(by='rating', ascending=False).head(10)

                                      name  rating
2                          Au Kouign-Amann     9.2
3                           Trip de Bouffe     9.2
5         Boulangerie les Co'Pains d'Abord     9.2
6                                 Kem CoBa     9.2
0                            Fous Desserts     9.1
9               Fairmount Bagel Bakery Inc     9.0
13                        St-Viateur Bagel     9.0
15                         Mamie Clafoutis     8.9
4   Grillade Portuguaise ma Poule Mouillée     8.9
8                              Hof Kelsten     8.9

# Yelp Ratings

In [40]:
url = "https://api.yelp.com/v3/businesses/search?radius=3000&categories=bars%2Crating&limit=50&location=MTL&fields=name"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer W8H_x2Q-W_D4uL3N854Um8x046alVK_qcdzZ9hgIVs2uRoYav7l3WP7pqt3cr_PklnUDc5Nny035AQizcYJqpy-lTCVSG_talQKJfwSNASATg9OjLPDnFcBI2bM1Y3Yx"
}

response = requests.get(url, headers=headers) # Get url call using Foursquare API
yelp_ratings = json.loads(response.text)

In [ ]:
yelp_rating = yelp_ratings['businesses']
name_yelp = [j ['name'] for j in yelp_rating]
name_yelp

In [ ]:
rating_yelp = [k ['rating'] for k in yelp_rating]
rating_yelp

In [ ]:
def yelpRatings(keys, values):
    return dict(zip(keys,values))

yelp_ratings_1 = yelpRatings(name_yelp, rating_yelp)
yelp_ratings_1

In [61]:
yelp_ratings_df = pd.DataFrame({'name': name_yelp, 'ratings': rating_yelp})
yelp_ratings_df.sort_values(by='ratings', ascending=False).head(10)

                    name  ratings
3          Cloakroom Bar      5.0
46   La Distillerie No.2      4.5
22                larrys      4.5
23  Randolph Pub Ludique      4.5
42              Blue Dog      4.5
43          N Sur Mackay      4.5
16                 Cadet      4.5
1          Le Majestique      4.5
36              Barranco      4.5
13            Bar George      4.5